package templs

templ Page(content templ.Component) {
			@EmptyPage(){
				<header>
					<menu class="main-menu">
						<li>
							<a href="/">home</a>
						</li>
						<li>
							<a href="/events">events</a>
						</li>
						<li>
							<a href="/users">users</a>
						</li>
						<li>
							<a href="/login">log in</a>
						</li>
						<li>
							<a href="/register">register</a>
						</li>
					</menu>
				</header>
				<article>
					@content
				</article>
			}
}