:root {
  box-sizing: border-box;
}

.red {
  background-color: red;
}
.green {
  background-color: green;
}

.auto-hide {
  animation: basic-hide 10s forwards;
}
@keyframes basic-hide {
  0%  {
    opacity: 100%;
  }
  80% {
    opacity: 100%;
  }
  to {
    opacity: 0;
    display: none;
  }
}

.main-menu {
  display: flex;
  background-color: dark-gray;
}

.main-menu > li {
  list-style: none;
  padding: 1rem;
}

.main-menu a {
  text-decoration: none;
}

.delete {
  background-color:rgb(158, 56, 56);
  color:antiquewhite;
  border: none;
}