package templs

templ CreateEvent() {
	<h2>
		Create Event
	</h2>
	<div>
		<form
			hx-post="/createEvent"
			hx-target="#notification"
		>
			<input name="title" placeholder="title"/>
			<button type="submit">create</button>
		</form>
	</div>
}
